@model RailwaySystem.ViewModels.Schedule.CreateVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Shared.cshtml";
}

<fieldset>

    <div class="container wrapper shadow bg-light mt-3 p-3">
        <h3 class="text-center">Register new schedule</h3>
    </div>

    <div class="container wrapper card shadow bg-light p-3">
        <form action="/Schedule/Create" method="post">

            <div class="grid m-auto">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <p>@Html.LabelFor(m => m.TrainId)</p>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.TrainId,
                            new SelectList((List<Train>)ViewData["trains"], "Id", "Name"), "--Select train--", new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <p style="color:red">@Html.ValidationMessageFor(m => m.TrainId)</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <p>@Html.LabelFor(m => m.TrackId)</p>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.TrackId,
                            new SelectList((Dictionary<int, string>)ViewData["routes"], "Key", "Value"), "--Select route--", new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <p style="color:red">@Html.ValidationMessageFor(m => m.TrackId)</p>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-3">
                        <p>@Html.LabelFor(m => m.DepartDate)</p>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.DepartDate, new { id = "departDate", @type = "date", @class = "form-control date-picker" })
                    </div>
                    <div class="col-md-6">
                        <p style="color:red">@Html.ValidationMessageFor(m => m.DepartDate)</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <p>@Html.LabelFor(m => m.LastDateToCreate)</p>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.LastDateToCreate, new { id = "lastDate", @type = "date", @class = "form-control date-picker" })
                    </div>
                    <div class="col-md-6">
                        <p style="color:red">@Html.ValidationMessageFor(m => m.LastDateToCreate)</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <p>@Html.LabelFor(m => m.ScheduleMode)</p>
                    </div>
                    <div class="col-md-2">
                        @("Every day") @Html.RadioButtonFor(m => m.ScheduleMode, (int)RailwaySystem.Repositories.SchedulesRepository.ScheduleMode.EVERY_DAY, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @("Only on weekdays") @Html.RadioButtonFor(m => m.ScheduleMode, (int)RailwaySystem.Repositories.SchedulesRepository.ScheduleMode.ONLY_WEEKDAYS, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @("Only on weekends") @Html.RadioButtonFor(m => m.ScheduleMode, (int)RailwaySystem.Repositories.SchedulesRepository.ScheduleMode.ONLY_WEEKENDS, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <p style="color:red">@Html.ValidationMessageFor(m => m.ScheduleMode)</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <p>@Html.LabelFor(m => m.PricePerTicket)</p>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.PricePerTicket, new { @type = "number", @step = ".01", @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <p style="color:red">@Html.ValidationMessageFor(m => m.PricePerTicket)</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <p style="color:red">@Html.ValidationMessage("CreateValidationError")</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2">
                        <input class="btn btn-info" type="submit" value="Continue" />
                    </div>
                    <div class="col-md-2">
                        <a href="/Schedule/Index" class="btn btn-light">Cancel</a>
                    </div>
                </div>
            </div>

        </form>

    </div>
</fieldset>

