
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Shared.cshtml";
}

@model RailwaySystem.ViewModels.Schedule.EditVM

<fieldset>
    <div class="wrapper container bg-light">
        <form action="/Schedule/Edit" method="post">
            @Html.HiddenFor(m => m.Id)
            <div class="grid">

                <div class="row">
                    @Html.DropDownListFor(m => m.TrainId, new SelectList((List<Train>)ViewData["trains"], "Id", "Name"), "--Select train--")
                </div>

                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.EditOption)
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="row">

                            Option 0 @Html.RadioButtonFor(m => m.EditOption, RailwaySystem.ViewModels.Schedule.EditVM.EditOptions.ONLY_THIS_ENTRY, new { @class = "form-control" })


                            Option 1 @Html.RadioButtonFor(m => m.EditOption, RailwaySystem.ViewModels.Schedule.EditVM.EditOptions.BY_DEFINED_PERIOD, new { @class = "form-control" })

                            Last Date to delete @Html.TextBoxFor(m => m.LastDateToApply, new { id = "arrival", @type = "date", @class = "form-control date-picker" })

                            Option 2 @Html.RadioButtonFor(m => m.EditOption, RailwaySystem.ViewModels.Schedule.EditVM.EditOptions.ALL_MATCHING_ENTRIES, new { @class = "form-control" })

                        </div>
                        <div class="col-2">
                            @Html.ValidationMessageFor(m => m.EditOption)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        @Html.LabelFor(m => m.Cancelled)
                    </div>
                    <div class="col-2">
                        @Html.CheckBoxFor(m => m.Cancelled)
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        @Html.ValidationMessage("AuthError")
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <input class="btn btn-danger" type="submit" value="Confirm" />
                        <a href="/Schedule/Edit" class="btn">Clear</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</fieldset>

