@model RailwaySystem.ViewModels.Schedule.EditVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Shared.cshtml";
}

    <fieldset>
        <form action="/Schedule/Edit" method="post">
            <div class="grid">
                @Html.HiddenFor(m => m.Id)
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.TrainId)
                    </div>
                    <div class="col-2">
                        @Html.DropDownListFor(m => m.TrainId,
                            new SelectList((List<Train>)ViewData["trains"], "Id", "Name"), "--Select train--")
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.TrainId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.TrackId)
                    </div>
                    <div class="col-2">
                        @Html.DropDownListFor(m => m.TrackId,
                            new SelectList((Dictionary<int, string>)ViewData["routes"], "Key", "Value"), "--Select route--")
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.TrackId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Departure)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.Departure/*, new { @type = "datetime-local", @class = "form-control date-picker" }*/)
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Departure)
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Arrival)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.Arrival/*, new { @type = "datetime-local", @class = "form-control date-picker" }*/)
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Arrival)
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.PricePerTicket)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.PricePerTicket, new { @type = "number", @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.PricePerTicket)
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        @Html.ValidationMessage("AuthError")
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <input class="right" type="submit" value="Save" />
                    </div>
                </div>
            </div>
        </form>
    </fieldset>

