@{ 
    Layout = "~/Views/Shared/Shared.cshtml";

    User loggedUser = (User)Session["loggedUser"];
    RailwaySystem.Repositories.UsersRepository usersRepository = new RailwaySystem.Repositories.UsersRepository();
    bool hasFullAccess, hasEmployeeAccess;
    if (loggedUser == null)
    {
        hasFullAccess = hasEmployeeAccess = false;
    }
    else
    {
        hasFullAccess = usersRepository.CanAccess(loggedUser.Id, RailwaySystem.Repositories.UsersRepository.Levels.FULL_ACCESS);
        hasEmployeeAccess = usersRepository.CanAccess(loggedUser.Id, RailwaySystem.Repositories.UsersRepository.Levels.EMPLOYEE_ACCESS);
    }
}

<title>Index Page</title>

@helper GetStartedCard(string title, string img_src, string content_upper, string content_lower, string href, string href_text )
{
<div class="col-lg-3 mt-2">
    <div class="card">
        <div class="card-header text-center">
            @title
        </div>
        <div class="card-img text-center m-1">
            <img src=@img_src />
        </div>
        <div class="card-body">
            <p>@content_upper</p>
            <p>@content_lower</p>
        </div>
        <div class="card-footer text-center p-0">
            <a class="btn p-2" href=@(href) style="width:100%">@href_text</a>
        </div>
    </div>
</div>
}

<fieldset>
    <div class="border border-3 card shadow bg-white p-3 m-3" style="min-height:75vh">
        <div class="grid">
            <div class="modal-header d-flex justify-content-center">
                <h3>GET STARTED</h3>
            </div>
            <div class="row">

                @if(hasEmployeeAccess)
            {
                <div class="col-lg-2 border border-1 ml-3" style="min-height:60vh">
                    <div class="p-1">
                        <div class="modal-header">
                            Search for
                        </div>
                        <div class="">
                            <div>
                                <a href="/Schedule/Index">Schedules</a>
                            </div>
                            @if (hasFullAccess)
                            {
                                <div>
                                    <a href="/Track/Index">Tracks</a>
                                </div>
                                <div>
                                    <a href="/Station/Index">Stations</a>
                                </div>
                                <div>
                                    <a href="/Train/Index">Trains</a>
                                </div>
                                <div>
                                    <a href="/User/Index">Accounts</a>
                                </div>
                            }

                        </div>
                    </div>

                    <hr />

                    <div class="p-1">
                        <div class="modal-header">
                            Register a new
                        </div>
                        <div class="">
                            <div>
                                <a href="/Schedule/Create">Schedule</a>
                            </div>
                            @if (hasFullAccess)
                            {
                                <div>
                                    <a href="/Track/Create">Track</a>
                                </div>
                                <div>
                                    <a href="/Station/Create">Station</a>
                                </div>
                                <div>
                                    <a href="/Train/Create">Train</a>
                                </div>
                            }

                        </div>
                    </div>

                </div>
            }
            else
            {
                <div class="col-lg-2 border border-1 ml-3">

                </div>
            }
                

                @GetStartedCard("FIND INFORMATION",
                                "/Content/icons/calendar-64.png",
                                "Planning to travel by train? Need to know when your train will depart?",
                                "Make a quick query and find out!",
                                "/Schedule/Index",
                                "Search")

                @if (Session["loggedUser"] == null)
                {
                    @GetStartedCard("BUY E-TICKETS",
                                    "/Content/icons/form-64.png",
                                    "Don't want to wait at the ticket office?",
                                    "Register now, so you can buy e-tickets with ease!",
                                    "/Home/Register",
                                    "Register")
                    @GetStartedCard("LOG IN",
                                    "/Content/icons/login-64.png",
                                    "Already registered?",
                                    "By logging in, you can see more of what we offer.",
                                    "/Home/Login",
                                    "Log in")
                }
                else
                {
                    @GetStartedCard("YOUR ACCOUNT",
                                    "/Content/icons/form-64.png",
                                    "You can check your account information any time.",
                                    "You can also see all your bought tickets.",
                                    "/User/Details",
                                    "To account page")
                }

            </div>
        </div>
    </div>
</fieldset>

