@model RailwaySystem.ViewModels.Home.RegisterVM

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Shared.cshtml";
}

<fieldset>
    <div class="wrapper container bg-white p-4 rounded shadow mt-3">
        <div class="grid">
            <div class="row bg-light d-flex align-content-center">
                <div class="col-lg-5">
                    <div class="bg-image" style="background-image:url('/Content/train-wallpaper.jpg'); background-size:cover">
                        <div class="mask h-100 w-100" style="background-color: rgba(0, 0, 0, 0.8)">
                            <p class="text-white text-center" style="padding: 30%">By registering, you accept our terms of service.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 m-1">
                    <form action="/Home/Register" method="post">
                        <div class="row m-3">
                            <div class="col-lg-6">
                                @Html.DisplayNameFor(m => m.Username)
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                <p style="color:red">@Html.ValidationMessageFor(m => m.Username)</p>
                                <p style="color:red">@Html.ValidationMessage("UserExistsError")</p>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col-lg-6">
                                @Html.DisplayNameFor(m => m.Password)
                                @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control" })
                                <p style="color:red">@Html.ValidationMessageFor(m => m.Password)</p>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayNameFor(m => m.RepeatPassword)
                                @Html.TextBoxFor(m => m.RepeatPassword, new { @type = "password", @class = "form-control" })
                                <p style="color:red">@Html.ValidationMessageFor(m => m.RepeatPassword)</p>
                            </div>

                        </div>
                        <div class="row m-3">
                            <div class="col-lg-6">
                                @Html.DisplayNameFor(m => m.FirstName)
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                <p style="color:red">@Html.ValidationMessageFor(m => m.FirstName)</p>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayNameFor(m => m.LastName)
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                <p style="color:red">@Html.ValidationMessageFor(m => m.LastName)</p>
                            </div>
                        </div>

                        <div class="row m-3">
                            <div class="col-lg-6">
                                @Html.DisplayNameFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                <p style="color:red">@Html.ValidationMessageFor(m => m.Email)</p>
                                <p style="color:red">@Html.ValidationMessage("EmailExistsError")</p>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayNameFor(m => m.Phone)
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                <p style="color:red">@Html.ValidationMessageFor(m => m.Phone)</p>
                                <p style="color:red">@Html.ValidationMessage("PhoneExistsError")</p>
                            </div>
                        </div>
                        <div class="m-3">
                            <input class="btn btn-success" type="submit" value="Register" />
                            <a class="btn btn-light text-black" href="/Home/Index">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>


        </div>


    </div>
</fieldset>

@*<fieldset class="col-md-2">
    <form action="/Home/Register" method="post">
        <div class="">
            <div>@Html.DisplayNameFor(m => m.Username) </div>
            <div>@Html.TextBoxFor(m => m.Username) @Html.ValidationMessageFor(m => m.Username)</div>
        </div>
        <div class="">
            <div>@Html.DisplayNameFor(m => m.Password) </div>
            <div>@Html.PasswordFor(m => m.Password) @Html.ValidationMessageFor(m => m.Password)</div>
        </div>
        <div class="">
            <div>@Html.DisplayNameFor(m => m.RepeatPassword) </div>
            <div>@Html.PasswordFor(m => m.RepeatPassword) @Html.ValidationMessageFor(m => m.RepeatPassword)</div>
        </div>
        <div class="">
            <div>@Html.DisplayNameFor(m => m.FirstName) </div>
            <div>@Html.TextBoxFor(m => m.FirstName) @Html.ValidationMessageFor(m => m.FirstName)</div>
        </div>
        <div class="">
            <div>@Html.DisplayNameFor(m => m.LastName) </div>
            <div>@Html.TextBoxFor(m => m.LastName) @Html.ValidationMessageFor(m => m.LastName)</div>
        </div>
        <div class="">
            <div>@Html.DisplayNameFor(m => m.Email) </div>
            <div>@Html.TextBoxFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)</div>
        </div>
        <div class="">
            <div>@Html.DisplayNameFor(m => m.Phone) </div>
            <div>@Html.TextBoxFor(m => m.Phone) @Html.ValidationMessageFor(m => m.Phone)</div>
        </div>
        <br />
        @Html.ValidationMessage("AuthError")
        <input class="pull-right" type="submit" value="Register" />
    </form>
</fieldset>*@
