@model RailwaySystem.ViewModels.Station.CreateVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Shared.cshtml";
}

    <fieldset>
        <form action="/Station/Create" method="post">
            <div class="grid">
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Name)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.CityId)
                    </div>
                    <div class="col-2">
                        @Html.DropDownListFor(m => m.CityId,
                        new SelectList((List<City>)ViewData["cities"], "Id", "Name"), "--Select city--", new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.CityId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Latitude)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.Latitude, new { @type = "number", @step = ".01", @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Latitude)
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Longitude)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.Longitude, new { @type = "number", @step = ".01", @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Longitude)
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <input class="right" type="submit" value="Create" />
                    </div>
                </div>
            </div>
        </form>
    </fieldset>

