@model RailwaySystem.ViewModels.Station.EditVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Shared.cshtml";
}

<fieldset>
    <div class="container wrapper shadow bg-light mt-3 p-3">
        <h3 class="text-center">Edit station</h3>
    </div>
    <div class="container wrapper p-3 bg-light">
        <form action="/Station/Edit" method="post" onsubmit="return confirm('Submit changes to this entry?');">
            <div class="grid">
                @Html.HiddenFor(m => m.Id)
                <div class="row mb-2">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Name)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-1">
                        @Html.LabelFor(m => m.CityId)
                    </div>
                    <div class="col-2">
                        @Html.DropDownListFor(m => m.CityId,
                        new SelectList((List<City>)ViewData["cities"], "Id", "Name"), "--Select city--", new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.CityId)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Latitude)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.Latitude, new { @type = "number", @step = ".01", @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Latitude)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Longitude)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.Longitude, new { @type = "number", @step = ".01", @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Longitude)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-3 ml-3">
                        <input class="btn btn-success" type="submit" value="Save" />
                        <button type="button" class="btn">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="mb-2">
            <form action="/Station/Delete/@(Model.Id)" onsubmit="return confirm('Delete this entry?');">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div>
            @Html.ValidationMessage("EditError")
            @Html.ValidationMessage("DeleteError")
        </div>
    </div>
</fieldset>
