@model RailwaySystem.ViewModels.Train.CreateVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Shared.cshtml";
}
<fieldset>
    <div class="container wrapper shadow bg-light mt-3 p-3">
        <h3 class="text-center">Register new train</h3>
    </div>
    <div class="container wrapper card shadow bg-light m-3 p-3">
        <form action="/Train/Create" method="post">
                <div class="grid">
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <p>@Html.LabelFor(m => m.Name)</p>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <p>@Html.LabelFor(m => m.TypeId)</p>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => m.TypeId,
                         new SelectList((List<TrainType>)ViewData["trainTypes"], "Id", "Name"), "-- Select type --", new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(m => m.TypeId)
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <p>@Html.LabelFor(m => m.SeatsFirstClass)</p>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.SeatsFirstClass, new { @type = "number", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(m => m.SeatsFirstClass)
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <p>@Html.LabelFor(m => m.RegularSeats)</p>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.RegularSeats, new { @type = "number", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(m => m.RegularSeats)
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4">
                            @Html.ValidationMessage("AuthError")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <input class="btn btn-success" type="submit" value="Create" />
                        </div>
                    </div>
                </div>
            
        </form>

    </div>

</fieldset>

