@model RailwaySystem.ViewModels.Train.CreateVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Shared.cshtml";
}
    <fieldset>
        <form action="/Train/Create" method="post">
            <div class="grid">
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Name)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.Name)
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.TypeId)
                    </div>
                    <div class="col-2">
                        @Html.DropDownListFor(m => m.TypeId,
                     new SelectList((List<TrainType>)ViewData["trainTypes"], "Id", "Name"), "-- Select type --")
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.TypeId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.SeatsFirstClass)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.SeatsFirstClass, new { @type = "number" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.SeatsFirstClass)
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.SeatsSecondClass)
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.SeatsSecondClass, new { @type = "number" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.SeatsSecondClass)
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        @Html.ValidationMessage("AuthError")
                    </div>
                </div>
                    <div class="row">
                        <div class="col-3">
                            <input class="right" type="submit" value="Create" />
                        </div>
                    </div>
                </div>
</form>
    </fieldset>

