
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Shared.cshtml";
}

<div class="wrapper container bg-light mt-3">
    <div class="grid p-3">
        <div class="row modal-header">
            <h3 class="m-auto">Your e-tickets</h3>
        </div>
        <div class="row d-flex justify-content-center m-3">
            @foreach (var ticket in (List<Ticket>)ViewData["items"])
            {
                <div class="col-lg-4 p-2 card bg-light">
                    <div class="card-title text-center">
                        <p>@ticket.BeginStation - @ticket.EndStation</p>
                    </div>
                    <div class="card-body">
                        <p>Departs on @ticket.Departure.ToString("dd.MM.yyyy HH:mm")</p>
                        <p>Buy Date: @ticket.BuyDate.ToString("dd.MM.yyyy HH:mm")</p>
                        <p>Seats: @ticket.SeatNumbers</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-success w-100" href="/Ticket/DownloadResource?id=@(ticket.Id)">Download PDF</a>
                    </div>
                </div>
            }
            @Html.ValidationMessage("NoTickets")
        </div>
        
        <div class="row border rounded m-5" style="background-color: rgb(230 230 230 / 0.60)">
            <div class="col-lg-6 p-3">
                <div class="modal-header">
                    <h5>What are e-tickets?</h5>
                </div>
                <div>
                    E-tickets can be bought from the Railway System website and offer a pass to board any train in the country. All tickets that you buy can be downloaded as a PDF file which can be presented to an employee when boarding.
                </div>
            </div>
        </div>

    </div>
</div>