@model RailwaySystem.ViewModels.Track.CreateVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Shared.cshtml";
    var stations = (List<Station>)ViewData["stations"];
}

<script id="ws-template" type="text/template">
    <div class="row m-3">
        <div class="col-3">
            Station name @Html.DropDownListFor(m => m.WayStations, new SelectList((List<Station>)ViewData["stations"], "Id", "Name"), "--Select station--", new { @class = "form-control"})
        </div>
</script>

<script type="text/javascript">

    function Rearrange() {
        var waystations = document.getElementsByClassName("way-station");
        var removeBtns = document.getElementsByClassName("ws-remove-btn");
        var wsCount = waystations.length;
        for (var i = 0; i < wsCount; i++) {
            waystations[i].id = "ws-" + (i + 2);
            document.getElementById(removeBtns[i].id).outerHTML = '<button id=\"ws-remove-' + waystations[i].id + '\" class=\"btn btn-danger ws-remove-btn\" type=\"button\" onClick=\"RemoveWayStation(\'' + waystations[i].id + '\')\"> Remove</button></div>';

        }
    }

    function AddWayStation() {
        var wsCount = document.getElementsByClassName("way-station").length;
        var newWS = document.createElement("div");
        var template = document.getElementById("ws-template");
        newWS.className = "way-station";
        newWS.id = "ws-" + (wsCount+2);
        newWS.innerHTML = template.innerHTML + '<button id=\"ws-remove-' + newWS.id + '\" class=\"btn btn-danger ws-remove-btn\" type=\"button\" onClick=\"RemoveWayStation(\'' + newWS.id + '\')\"> Remove</button></div>';
        document.getElementById("ws-area").appendChild(newWS);
    }

    function RemoveWayStation(id) {
        var child = document.getElementById(id);
        document.getElementById("ws-area").removeChild(child);
        Rearrange();
    }

</script>

<fieldset>
    <div class="container wrapper bg-light">
        <form action="/Track/Create" method="post">
            <div class="grid">
                <div class="row">
                    <div class="col-3">
                        @Html.LabelFor(m => m.Description, new { @class = "form-control" })
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
                <div class="grid" id="ws-area">
                    <div class="row m-3">
                        <div class="col-3">
                            Station name @Html.DropDownListFor(m => m.WayStations, new SelectList((List<Station>)ViewData["stations"], "Id", "Name"), "--Select station--", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-3">
                            Station name @Html.DropDownListFor(m => m.WayStations, new SelectList((List<Station>)ViewData["stations"], "Id", "Name"), "--Select station--", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn" type="button" onclick="AddWayStation();">Add station</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        @Html.ValidationMessage("AuthError")
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <input class="btn btn-success" name="submitButton" type="submit" value="Create" />
                    </div>
                </div>
            </div>
        </form>
    </div>

</fieldset>
