@model RailwaySystem.ViewModels.Track.CreateVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Shared.cshtml";
    var stations = (List<Station>)ViewData["stations"];
}

<script id="ws-template" type="text/template">
    <div class="row m-1">
        <div class="col-lg-3">
            @Html.DropDownListFor(m => m.WayStations, new SelectList((List<Station>)ViewData["stations"], "Id", "Name"), "--Select station--", new { @class = "form-control"})
        </div>
</script>

<script type="text/javascript" src="~/Scripts/RSScripts/track-scripts.js"></script>

<fieldset>
    <div class="container wrapper shadow bg-light mt-3 p-3">
        <h3 class="text-center">Register new track</h3>
    </div>

    <div class="container wrapper card shadow bg-light p-3">
        <form action="/Track/Create" method="post">
            <div class="grid m-3">
                <div class="row">
                    <div class="col-lg-3">
                        <p>@Html.LabelFor(m => m.Description)</p>
                    </div>
                    <div class="col-lg-3">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-3">
                        <h5>Way stations</h5>
                    </div>
                </div>
                <div class="grid" id="ws-area">
                    <div class="row m-1">
                        <div class="col-lg-3">
                            @Html.DropDownListFor(m => m.WayStations, new SelectList((List<Station>)ViewData["stations"], "Id", "Name"), "--Select station--", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-lg-3">
                            @Html.DropDownListFor(m => m.WayStations, new SelectList((List<Station>)ViewData["stations"], "Id", "Name"), "--Select station--", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <button class="btn" type="button" onclick="AddWayStation();">Add station</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        @Html.ValidationMessage("AuthError")
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 mr-2">
                        <input class="btn btn-success p-3" name="submitButton" type="submit" value="Create" />
                    </div>
                    <div class="col-lg-1">
                        <a href="/Track/Index" type="button" class="btn btn-light p-3">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</fieldset>
