@model RailwaySystem.ViewModels.Track.EditVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Shared.cshtml";
}

    <fieldset>
        <form action="/Track/Edit" method="post">
            <div class="grid">
                @Html.HiddenFor(m => m.Id)
                <div class="row">
                    <div class="col-1">
                        @Html.LabelFor(m => m.Description, new { @class = "form-control" })
                    </div>
                    <div class="col-1">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>

                @foreach (var ws in (List<WayStation>)ViewData["wayStations"])
                {
                    <div class="row">
                        <div class="col-3">
                            @(((List<Station>)ViewData["stations"]).FirstOrDefault(s => s.Id == ws.StationId).Name)
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-3">
                        @Html.ValidationMessage("AuthError")
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <input class="right" type="submit" value="Save" />
                    </div>
                </div>
            </div>
        </form>
    </fieldset>

